html, body { background: #fff; margin: 0; padding: 0; overflow-x: hidden; }









/* ============================= */
/* == standardize arial fonts == */
/* ============================= */

@font-face {
    font-family: 'ArialRegular';
    src: url('../../_lib/fonts/regular.eot');
    src: url('../../_lib/fonts/regular.eot?#iefix') format('embedded-opentype'),
         url('../../_lib/fonts/regular.woff') format('woff'),
         url('../../_lib/fonts/regular.ttf') format('truetype'),
         url('../../_lib/fonts/regular.svg#ArialRegular') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
    font-family: 'ArialItalic';
    src: url('../../_lib/fonts/italic.eot');
    src: url('../../_lib/fonts/italic.eot?#iefix') format('embedded-opentype'),
         url('../../_lib/fonts/italic.woff') format('woff'),
         url('../../_lib/fonts/italic.ttf') format('truetype'),
         url('../../_lib/fonts/v.svg#ArialItalic') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
    font-family: 'ArialBold';
    src: url('../../_lib/fonts/bold.eot');
    src: url('../../_lib/fonts/bold.eot?#iefix') format('embedded-opentype'),
         url('../../_lib/fonts/bold.woff') format('woff'),
         url('../../_lib/fonts/bold.ttf') format('truetype'),
         url('../../_lib/fonts/bold.svg#ArialBold') format('svg');
	font-weight: normal;
	font-style: normal;
}




/* =========================== */
/* == links + button styles == */
/* =========================== */

a { margin: 0; padding: 0; }
a, a:active, a:hover, a:visited { border: none; color: #71a810; outline: none; text-decoration: none; }
a.link-blue, a.link-blue:active, a.link-blue:hover, a.link-blue:visited { border: none; color: #71a810; outline: none; text-decoration: none; }
a.link-gray { border: none; color: #4c4c4c; outline: none; text-decoration: none; }
a.link-gray:hover { border: none; color: #71a810; outline: none; text-decoration: none; }
a.link-regular, a.link-regular:active, a.link-regular:hover, a.link-regular:visited { border: none; color: inherit !important; outline: none; text-decoration: none; }
a.button, a.button:active, a.button:hover, a.button:visited { background: #71a810; border: none; color: #fff; margin: 0; outline: none; padding: 6px 14px 7px 12px; text-decoration: none;
	border-radius: 4px;
	-kthml-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.blue-text { color: #71a810; }









/* =================== */
/* == global header == */
/* =================== */

/* == top most header  == */
#top-most-header-container { border-style: solid; border-top-color: transparent !important; border-right-color: transparent !important; border-bottom-color: #ccc; border-left-color: transparent !important; border-width: 1px; margin: 0 auto; padding: 0; width: 100%; height: 33px; }
#top-most-header { margin: 0 auto; padding: 0; /*width: 100%;*/ min-width: 1100px; height: 33px; }
#top-most-header .language-container { color: #666; font: normal 11px ArialRegular; line-height: 30px; letter-spacing: .15px; margin: 0; padding: 0px; }
#top-most-header .cs-container { border-style: solid; border-top-color: transparent !important; border-right-color: transparent !important; border-bottom-color: transparent !important; border-left-color: #ccc; border-width: 1px; color: #666; font: normal 11px ArialRegular; line-height: 30px; letter-spacing: .15px; margin: 0; padding: 0px 0px 0px 20px; }
#top-most-header .cs-container span { color: #66C300; font: normal 15px ArialRegular; position: relative; top: 1px; }
#top-most-header .alerts-container { color: #666; font: normal 11px ArialRegular; line-height: 30px; letter-spacing: .15px; margin: 0; padding: 0; }
#top-most-header .alerts-container .box { border-style: solid; border-top-color: transparent !important; border-right-color: transparent !important; border-bottom-color: transparent !important; border-left-color: #ccc; border-width: 1px; cursor: pointer; float: right; margin: 0; padding: 0px 0px 0px 20px; }
#top-most-header .alerts-container .box img { margin: 0; padding: 0px 10px 0px 0px; }
#top-most-header .alerts-container .box2 { border-style: solid; border-top-color: transparent !important; border-right-color: transparent !important; border-bottom-color: transparent !important; border-left-color: #ccc; border-width: 1px; cursor: pointer; float: right; margin: 0; padding: 0px 18px 0px 20px; }
#top-most-header .alerts-container .box2 img { margin: 0; padding: 0px 10px 0px 0px; }

/* == main header  == */
#header-container { margin: 0 auto; padding: 0; /*width: 100%;*/ width: 1100px; min-width: 1100px; height: 100px; }
#header-container .logo { margin: 0; padding: 0px 0px 10px 0px; position: relative; left: -10px; height: auto; }
#header-container .user { cursor: pointer; float: right; margin: 28px 0px 0px 0px; padding: 0; width: 205px; height: 44px; }
#header-container .disposed { background: url(../../_images/global/chart-disposed.gif) no-repeat; float: right; margin: 28px 20px 0px 0px; padding: 0; width: 114px; height: 44px; }
#header-container .recycled { background: url(../../_images/global/chart-recycled.gif) no-repeat; float: right; margin: 28px 10px 0px 0px; padding: 0; width: 114px; height: 44px; }
#header-container .reused { background: url(../../_images/global/chart-reused.gif) no-repeat; float: right; margin: 28px 10px 0px 0px; padding: 0; width: 114px; height: 44px; }
#header-container p { color: #4c4c4c; font: normal 12px ArialRegular; letter-spacing: .15px; line-height: 13px; margin: 0; padding: 10px 0px 0px 0px; position: relative; left: 24px; text-align: center; }
#header-container p span.blue { color: #71a810; font: normal 11px ArialRegular; letter-spacing: .15px; line-height: 13px; }
#header-container p span.green { color: #007f8d; font: normal 11px ArialRegular; letter-spacing: .15px; line-height: 13px; }
#header-container p span.red { color: #bd1647; font: normal 11px ArialRegular; letter-spacing: .15px; line-height: 13px; }
#header-container .user p { color: #4c4c4c; font: normal 12px ArialRegular; letter-spacing: .15px; line-height: 13px; margin: 0; padding: 16px 0px 0px 24px; text-align: left; }
#header-container .user p span { color: #71a810; }
@media screen and (max-width: 1100px) { #header-container .logo { left: 0px; } }









/* ================ */
/* == global nav == */
/* ================ */

/* == global nav  == */
#global-nav-container { margin: 0 auto; overflow: hidden; padding: 0; /*width: 100%;*/ width: 1100px; min-width: 1100px; height: 68px }
#global-nav-container .nav { border-style: solid; border-top-color: #ccc; border-right-color: #ccc; border-bottom-color: transparent !important; border-left-color: #ccc; border-width: 1px; color: #4c4c4c; cursor: pointer; display: inline-block; font: normal 11px ArialRegular; letter-spacing: .15px; line-height: 13px; margin: 0 auto; padding: 0; text-align: center; width: 98%; height: 68px;
	background: linear-gradient(to bottom, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 100%);
	background: -ms-linear-gradient(top, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 100%);
	background: -moz-linear-gradient(top, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 100%);
	background: -webkit-linear-gradient(top, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 100%);
	background: -o-linear-gradient(top, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 100%);
	border-top-left-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	-ms-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-khtml-border-right-left-radius: 5px;
	-ms-border-right-left-radius: 5px;
	-moz-border-right-left-radius: 5px;
	-o-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
#global-nav-container .nav:hover { background: #66C300; border: none; color: #fff; font: normal 11px ArialRegular; letter-spacing: .15px; line-height: 13px; margin: 0 auto; padding: 0; text-align: center; width: 98%; height: 68px;
	border-top-left-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	-ms-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-khtml-border-right-left-radius: 5px;
	-ms-border-right-left-radius: 5px;
	-moz-border-right-left-radius: 5px;
	-o-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
#global-nav-container .nav-selected { background: #66C300; border: none; color: #fff; display: inline-block; font: normal 11px ArialRegular; letter-spacing: .15px; line-height: 13px; margin: 0 auto; padding: 0; text-align: center; width: 98%; height: 68px;
	border-top-left-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	-ms-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-khtml-border-right-left-radius: 5px;
	-ms-border-right-left-radius: 5px;
	-moz-border-right-left-radius: 5px;
	-o-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

/* == sub nav  == */
#global-sub-nav-container { background: #66C300; margin: 0 auto; padding: 0; text-align: center; width: 100%; height: 40px; }
#global-sub-nav { background: #66C300; margin: 0 auto; padding: 0; text-align: center; /*width: 100%;*/ width: 1100px; min-width: 1100px; height: 40px; }
#global-sub-nav .sub-nav { color: #fff; font: normal 11px ArialRegular; letter-spacing: .15px; line-height: 40px; text-decoration: none; }
#global-sub-nav .sub-nav:hover { color: #5A5A5A; }
#global-sub-nav .sub-nav-selected { color: #5A5A5A; font: normal 11px ArialRegular; letter-spacing: .15px; line-height: 40px; text-decoration: none; }
#global-sub-nav .padding { border-style: solid; border-top-color: transparent !important; border-right-color: #71a810; border-bottom-color: transparent !important; border-left-color: transparent !important; border-width: 1px; margin: 0; padding: 0px 16px 0px 12px; }









/* ========================== */
/* == global main elements == */
/* ========================== */

/* == global main top bar == */
#global-main-top-bar { /*background: url('../../_images/global/main-top-bar.gif') repeat-x;*/ margin: 30px auto 0px auto; overflow: hidden; padding: 0; width: 1100px; min-width: 1100px; height: 40px;
	background: linear-gradient(to bottom, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
	background: -ms-linear-gradient(top, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
	background: -moz-linear-gradient(top, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
	background: -webkit-linear-gradient(top, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
	background: -o-linear-gradient(top, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
}
#global-main-top-bar img { float: left; }
#global-main-top-bar p { color: #fff; float: left; font: normal 15px ArialRegular; letter-spacing: .15px; line-height: 40px; margin: 0; padding: 0px 0px 0px 10px; }
#global-main-top-bar p span { font: normal 15px ArialBold; letter-spacing: .15px; margin: 0; padding: 0; position: relative; top: 0px; }
#global-main-top-bar .divider { background: #1f1e20; float: left; line-height: 34px; margin: 0px 0px 0px 20px; padding: 0; width: 1px; height: auto; }
#global-main-top-bar .add { color: #fff; font: normal 12px ArialRegular; line-height: 21px; letter-spacing: .15px; margin: 0px 0px 0px 12px; padding: 6px 17px 6px 12px; position: relative; top: 6px; }
#global-main-top-bar span { font: normal 20px ArialRegular; line-height: 20px; margin: 0; padding: 0px 6px 0px 0px; position: relative; top: 3px; }
#global-main-top-bar .search { background: #fff; border-style: solid; border-top-color: #ccc; border-right-color: transparent !important; border-bottom-color: transparent !important; border-left-color: #ccc; border-width: 1px; color: #4c4c4c; float: right; margin: 6px 8px 0px 0px; padding: 0; width: 80%; height: 24px;
	border-radius: 4px;
	-kthml-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#global-main-top-bar .search input { background: none; border: none; }
#global-main-top-bar .search input.search { color: #4c4c4c; float: left; font: normal 12px ArialRegular; line-height: 24px; letter-spacing: .15px; margin: -1px 0px 0px 0px; padding: 0px 5px 0px 5px; width: 90%; } 
#global-main-top-bar .search input.search:focus { outline: none; }
#global-main-top-bar .search input.search-icon { margin: 0; padding: 4px 0px 0px 2px; }
#global-main-top-bar .how-to { color: #fff; float: right; font: normal 11px ArialItalic; letter-spacing: .15px; line-height: 36px; padding: 0px 15px 0px 0px; text-decoration: underline; }


/* == global main tabs == */
#global-main-tabs { /*background: url('../../_images/global/main-tabs.gif') repeat-x;*/ border-style: solid; border-top-color: transparent !important; border-right-color: #ccc; border-bottom-color: transparent !important; border-left-color: #ccc; border-width: 1px; margin: 0 auto; overflow: hidden; padding: 0; width: 1100px; min-width: 1100px; /*height: 47px;*/ height: auto;
	background: linear-gradient(to bottom, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 100%);
	background: -ms-linear-gradient(top, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 100%);
	background: -moz-linear-gradient(top, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 100%);
	background: -webkit-linear-gradient(top, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 100%);
	background: -o-linear-gradient(top, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 100%);
}
#global-main-tabs .tabs-statistics { color: #4c4c4c; cursor: pointer; display: inline-block; font: normal 12px ArialRegular; letter-spacing: .15px; line-height: 47px; margin: 0; padding: 0; position: relative; top: 2px; text-align: center; width: 100%; }
#global-main-tabs .tabs-statistics:hover { background: #fff; }
#global-main-tabs .tabs-statistics-selected { background: #fff; color: #4c4c4c; display: inline-block; font: normal 12px ArialRegular; letter-spacing: .15px; line-height: 47px; margin: 0; padding: 0; position: relative; top: 2px; text-align: center; width: 100%; }
#global-main-tabs .tabs-projects { color: #4c4c4c; cursor: pointer; display: inline-block; font: normal 14px ArialRegular; letter-spacing: .15px; line-height: 47px; margin: 0; padding: 0; position: relative; top: 2px; text-align: center; width: 100%; }
#global-main-tabs .tabs-projects:hover { background: #fff; }
#global-main-tabs .tabs-projects-selected { background: #fff; color: #4c4c4c; cursor: pointer; display:inline-block; font: normal 14px ArialBold; letter-spacing: .15px; line-height: 47px; margin: 0; padding: 0; position: relative; top: 2px; text-align: center; width: 100%; }
#global-main-tabs .border { border-style: solid; border-top-color: transparent !important; border-right-color: #ccc; border-bottom-color: transparent !important; border-left-color: transparent !important; border-width: 1px; margin: 0; padding: 0; /*height: 47px;*/ height: auto; }
#global-main-tabs .border-transparent { border-style: solid; border-top-color: transparent !important; border-right-color: transparent !important; border-bottom-color: transparent !important; border-left-color: transparent !important; border-width: 1px; margin: 0; padding: 0; /*height: 47px;*/ height: auto; }

/* == global main content box == */
#global-main-content { background: #fff; border: 1px solid #ccc; margin: -3px auto 0px auto; padding: 21px 0px 46px 0px; width: 1100px; height: auto; }









/* ================================== */
/* == reports section on corporate == */
/* ================================== */

#reports-container { color: #fff; margin: 30px auto 0px auto; overflow: hidden; padding: 0; width: 1100px; min-width: 1100px; height: 78px; }
#reports-container .box { float: left; margin: 0; padding: 0; width: 22.75%; height: auto; }
#reports-container .box .region { border: solid 1px #3c3c3c; display: table; margin: 0; padding: 0; width: 100%; height: 50px;
	background: linear-gradient(to bottom, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
	background: -ms-linear-gradient(top, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
	background: -moz-linear-gradient(top, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
	background: -webkit-linear-gradient(top, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
	background: -o-linear-gradient(top, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
}
#reports-container .box .region .left { display: table-cell; !important; font: normal 14px ArialBold; letter-spacing: .15px; /*line-height: 50px;*/ margin: 0; padding: 0px 0px 0px 13px; vertical-align: middle !important; width: 60%; height: auto; }
#reports-container .box .region .right { font: normal 43px ArialBold; float: left; letter-spacing: .15px; line-height: 50px; margin: 0; padding: 0px 10px 0px 0px; text-align: right; width: 100%; height: auto; }
#reports-container .box .stats { border: solid 1px #3c3c3c; font: normal 12px ArialRegular; letter-spacing: .15px; line-height: 25px; margin: -1px 0px 0px 0px; padding: 0; width: 100%; height: 28px;
	background: linear-gradient(to bottom, rgb(106, 105, 107) 0%, rgb(95, 94, 96) 100%);
	background: -ms-linear-gradient(top, rgb(106, 105, 107) 0%, rgb(95, 94, 96) 100%);
	background: -moz-linear-gradient(top, rgb(106, 105, 107) 0%, rgb(95, 94, 96) 100%);
	background: -webkit-linear-gradient(top, rgb(106, 105, 107) 0%, rgb(95, 94, 96) 100%);
	background: -o-linear-gradient(top, rgb(106, 105, 107) 0%, rgb(95, 94, 96) 100%);
}
#reports-container .box .stats .left { border-style: solid; border-top-color: transparent !important; border-right-color: #3c3c3c; border-bottom-color: transparent !important; border-left-color: transparent !important; border-width: 1px; float: left; text-align: center; width: 50%; height: auto; }
#reports-container .box .stats .right { border-style: solid; border-top-color: transparent !important; border-right-color: transparent !important; border-bottom-color: transparent !important; border-left-color: transparent !important; border-width: 1px; float: left; text-align: center; width: 50%; height: auto; }
#reports-container .box .messages { border: solid 1px #ccc; color: #4c4c4c; display: inline-block; font: normal 18px ArialBold; letter-spacing: .15px; line-height: 76px; margin: 0; padding: 0; text-align: center; width: 100%; height: 78px;
	background: linear-gradient(to bottom, rgb(235, 235, 235) 0%, rgb(215, 215, 215) 100%);
	background: -ms-linear-gradient(top, rgb(235, 235, 235) 0%, rgb(215, 215, 215) 100%);
	background: -moz-linear-gradient(top, rgb(235, 235, 235) 0%, rgb(215, 215, 215) 100%);
	background: -webkit-linear-gradient(top, rgb(235, 235, 235) 0%, rgb(215, 215, 215) 100%);
	background: -o-linear-gradient(top, rgb(235, 235, 235) 0%, rgb(215, 215, 215) 100%);
}
#reports-container .box .messages img { margin: 0; padding: 0px 10px 0px 0px; }
#reports-container .box-spacer { float: left; margin: 0; padding: 0; width: 3%; height: auto; }









/* =================== */
/* == global footer == */
/* =================== */

#global-footer-container { background: #f1f1f1; margin: 50px 0px 0px 0px; padding: 0; width: 100%; height: auto; }
#global-footer { color: #b6b6b6; font: normal 11px ArialRegular; letter-spacing: .15px; line-height: 14px; margin: 0 auto 0 auto; padding: 15px 0px 15px 0px; width: 1100px; min-width: 1100px; }
#global-footer .footer-left { padding: 0px 50px 0px 35px; text-align: left; }
#global-footer .footer-right { padding: 0px 35px 0px 0px; text-align: right; }









/* =================== */
/* == reveal window == */
/* =================== */

/* == reveal window == */
.reveal-modal-bg {  background: #000; background: rgba(0,0,0,.8); display: none; position: fixed; top: 0; left; width: 100%; height: 100%; z-index: 100; }
.close-reveal-modal { color: #ccc; cursor: pointer; font: normal 22px ArialRegular; line-height: .5; position: absolute; top: 10px; right: 10px; }
.close-reveal-modal:hover { color: #71a810; text-decoration: none; }

/* == add another project == */
.modal-add-project { background: #fff; border: solid 1px #ccc; margin-left: -320px; padding: 40px 50px 45px 45px; position: absolute; top: 30%; left: 50%; visibility: hidden; width: 640px; z-index: 101;
	border-radius: 4px;
	-kthml-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	-box-shadow: 0 0 10px rgba(0, 0,0, .4);
	-khtml-box-shadow: 0 0 10px rgba(0, 0,0, .4);
	-ms-box-shadow: 0 0 10px rgba(0, 0,0, .4);
	-moz-box-shadow: 0 0 10px rgba(0, 0,0, .4);
	-o-box-shadow: 0 0 10px rgba(0, 0,0, .4);
	-webkit-box-shadow: 0 0 10px rgba(0, 0,0, .4);
}
#modal-add-project-form  { color: #666; font: normal 13px ArialRegular; letter-spacing: .15px; line-height: 15px; margin: 0px; padding: 0; text-align: center; width: 100%; height: auto; }
#modal-add-project-form  .left {  float: left; display: inline-block; margin: 0; padding: 0; width: 50%; }
#modal-add-project-form  .right { float: left; display: inline-block; margin: 0; padding: 0; width: 50%; }
#modal-add-project-form  .header { color: #4c4c4c; font: normal 20px ArialBold; letter-spacing: .15px; line-height: 26px; }
#modal-add-project-form  input { background: #fff; border: solid 1px #ccc; color: #4c4c4c; font: normal 14px ArialRegular; letter-spacing: .15px; line-height: 34px; margin: 0; padding: 0; text-align: center; height: 34px; }
#modal-add-project-form  input { outline: none; }
#modal-add-project-form  input.project { margin: 0px 10px 0px 0px; padding: 0px 0px 0px 5px;; width: 200px; }
#modal-add-project-form  input.zipcode { background: url(../../_images/global/flag-usa.png) 10px 4px no-repeat; margin: 0; padding: 0px 0px 0px 5px;; width: 200px; }
#modal-add-project-form  input.postalcode { background: url(../../_images/global/flagglobe.png) 10px 4px no-repeat; margin: 0; padding: 0px 0px 0px 5px;; width: 200px; }
#modal-add-project-form  input.button { background: #71a810; border: none; color: #fff; font: normal 13px ArialBold; letter-spacing: .15px; line-height: 15px; margin: 3px 0px 0px 0px; outline: none; padding: 10px 16px 10px 16px; text-decoration: none;
	border-radius: 4px;
	-kthml-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#modal-add-project-verification { color: #4c4c4c; font: normal 14px ArialRegular; letter-spacing: .15px; line-height: 16px; margin: 0; padding: 0; text-align: center; width: 100%; height: auto; }
#modal-add-project-verification .header { color: #4c4c4c; font: normal 24px ArialBold; display: block; letter-spacing: .15px; line-height: 26px; margin: -2px 0px 0px 0px; padding: 0; }
#modal-add-project-verification .note { color: #999; font: normal 12px ArialRegular; display: block; letter-spacing: .15px; line-height: 15px; margin: -28px 0px -15px 0px; padding: 0; }

/* == suggestions and report bugs == */
.reveal-form { background: #fff; margin-left: -320px; padding: 0; position: absolute; top: 17%; left: 50%; visibility: hidden; width: 640px; z-index: 101; height: auto;
	border-radius: 4px;
	-kthml-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	-box-shadow: 0 0 10px rgba(0, 0,0, .4);
	-khtml-box-shadow: 0 0 10px rgba(0, 0,0, .4);
	-ms-box-shadow: 0 0 10px rgba(0, 0,0, .4);
	-moz-box-shadow: 0 0 10px rgba(0, 0,0, .4);
	-o-box-shadow: 0 0 10px rgba(0, 0,0, .4);
	-webkit-box-shadow: 0 0 10px rgba(0, 0,0, .4);
}
.reveal-form .header { color: #fff; font: normal 15px ArialRegular; letter-spacing: .15px; line-height: 40px; margin: 0px 0px 50px 0px; padding: 0px 0px 0px 14px; width: 100%; height: 40px;
	background: linear-gradient(to bottom, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
	background: -ms-linear-gradient(top, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
	background: -moz-linear-gradient(top, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
	background: -webkit-linear-gradient(top, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
	background: -o-linear-gradient(top, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
}
.reveal-form .form { background: #fff; margin: 0; padding: 0; width: 100%; height: auto; }
.reveal-form .fields { color: #4c4c4c; display: block; font: normal 14px ArialRegular; line-height: 34px; margin: 0px auto 6px auto; padding: 0; width: 80%; height: 34px; }
.reveal-form .fields .left { float: left; margin: 0; padding: 0px 20px 0px 0px; text-align: right; width: 25%; }
.reveal-form .fields .right {  float: left; margin: 0; padding: 0; width: 75%; }
.reveal-form input { background: #fff; border: solid 1px #ccc; margin: 0; padding: 0px 6px 0px 6px; width: 100%; height: 34px;
	border-radius: 4px;
	-kthml-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.reveal-form select { background: #fff; border: solid 1px #ccc; margin: 0px 2% 0px 0px; padding: 7px 10px 7px 4px; width: 100%; height: 34px;
	border-radius: 4px;
	-kthml-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.reveal-form textarea { background: #fff; border: solid 1px #ccc; line-height: 16px; margin: 0; padding: 6px 6px 0px 6px; width: 100%; height: 184px;
	border-radius: 4px;
	-kthml-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.reveal-form input, .reveal-form select, .reveal-form textarea { outline: none; }
.reveal-form .fields .note { font: normal 11px ArialItalic; letter-spacing: .15px; margin: 0; padding: 0; position: relative; top: -17px; left: 3px; }
.reveal-form .fields input[type=button] { background: #71a810; border: none; color: #fff; float: right; font: normal 14px ArialRegular; letter-spacing: .15px; line-height: 14px; margin: 0px 0px 50px 0px; outline: none; padding: 0; text-decoration: none; width: 120px; height: 34px;
	border-radius: 4px;
	-kthml-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.reveal-form .thankyou { color: #66C300; display: block; font: normal 20px ArialRegular; line-height: 22px; margin: 0px auto 50px auto; padding: 0; width: 80%; height: 70px; }
.reveal-form .thankyou .left { float: left; margin: 0; padding: 0px 40px 0px 0px; text-align: right; width: 35%; }
.reveal-form .thankyou .right {  float: left; margin: 0; padding: 2px 0px 0px 0px; width: 65%; }
.reveal-form .thankyou .ok { background: #71a810; border: none; color: #fff; float: right; font: normal 14px ArialRegular; letter-spacing: .15px; line-height: 34px; margin: 0; outline: none; padding: 0; text-decoration: none; text-align: center; position: relative; top: 10px; left: -262px; width: 70px; height: 34px;
	border-radius: 4px;
	-kthml-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* == add project managers, haulers, and subcontractors == */
.reveal-add-users { background: #fff; margin-left: -519px; padding: 0; position: absolute; top: 10%; left: 50%; visibility: hidden; width: 1038px; z-index: 101; height: auto;
	border-radius: 4px;
	-kthml-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	-box-shadow: 0 0 10px rgba(0, 0,0, .4);
	-khtml-box-shadow: 0 0 10px rgba(0, 0,0, .4);
	-ms-box-shadow: 0 0 10px rgba(0, 0,0, .4);
	-moz-box-shadow: 0 0 10px rgba(0, 0,0, .4);
	-o-box-shadow: 0 0 10px rgba(0, 0,0, .4);
	-webkit-box-shadow: 0 0 10px rgba(0, 0,0, .4);
}
.reveal-add-users .header { color: #fff; font: normal 15px ArialRegular; letter-spacing: .15px; line-height: 40px; margin: 0px 0px 7px 0px; padding: 0px 0px 0px 14px; width: 100%; height: 40px;
	background: linear-gradient(to bottom, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
	background: -ms-linear-gradient(top, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
	background: -moz-linear-gradient(top, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
	background: -webkit-linear-gradient(top, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
	background: -o-linear-gradient(top, rgb(77, 76, 78) 0%, rgb(66, 65, 67) 100%);
}
.reveal-add-users .titles { border: solid 1px #ccc; color: #4c4c4c; font: normal 14px ArialRegular; letter-spacing: .15px; line-height: 40px; margin: 0 auto; overflow: hidden; padding: 0; width: 938px; /*width: 94%;*/ height: auto;
	background: linear-gradient(to bottom, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 100%);
	background: -ms-linear-gradient(top, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 100%);
	background: -moz-linear-gradient(top, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 100%);
	background: -webkit-linear-gradient(top, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 100%);
	background: -o-linear-gradient(top, rgb(248, 248, 248) 0%, rgb(238, 238, 238) 100%);
}
.reveal-add-users .content { border: solid 1px #ccc; color: #4c4c4c; font: normal 14px ArialRegular; letter-spacing: .15px; line-height: 40px; margin: -1px auto 0px auto; overflow: hidden; padding: 0; width: 938px; /*width: 94%;*/ height: auto; }
.reveal-add-users .content.no-border { border: none; }
.reveal-add-users .content.withbg { background: #f5f5f5; }

.reveal-add-users .column-10 { border-style: solid; border-top-color: transparent !important; border-right-color: #ccc; border-bottom-color: transparent !important; border-left-color: transparent !important; border-width: 1px; float: left; margin: 0; padding: 0px 0px 0px 15px; width: 10%; height: inherit; }
.reveal-add-users .column-15 { border-style: solid; border-top-color: transparent !important; border-right-color: #ccc; border-bottom-color: transparent !important; border-left-color: transparent !important; border-width: 1px; float: left; margin: 0; padding: 0px 0px 0px 15px; width: 15%; height: inherit; }
.reveal-add-users .column-20 { border-style: solid; border-top-color: transparent !important; border-right-color: #ccc; border-bottom-color: transparent !important; border-left-color: transparent !important; border-width: 1px; float: left; margin: 0; padding: 0px 0px 0px 15px; width: 20%; height: inherit; }
.reveal-add-users .column-25 { border-style: solid; border-top-color: transparent !important; border-right-color: #ccc; border-bottom-color: transparent !important; border-left-color: transparent !important; border-width: 1px; float: left; margin: 0; padding: 0px 0px 0px 15px; width: 25%; height: inherit; }
.reveal-add-users .column-30 { border-style: solid; border-top-color: transparent !important; border-right-color: #ccc; border-bottom-color: transparent !important; border-left-color: transparent !important; border-width: 1px; float: left; margin: 0; padding: 0px 0px 0px 15px; width: 30%; height: inherit; }
.reveal-add-users .column-35 { border-style: solid; border-top-color: transparent !important; border-right-color: #ccc; border-bottom-color: transparent !important; border-left-color: transparent !important; border-width: 1px; float: left; margin: 0; padding: 0px 0px 0px 15px; width: 35%; height: inherit; }
.reveal-add-users .column-40 { border-style: solid; border-top-color: transparent !important; border-right-color: #ccc; border-bottom-color: transparent !important; border-left-color: transparent !important; border-width: 1px; float: left; margin: 0; padding: 0px 0px 0px 15px; width: 40%; height: inherit; }
.reveal-add-users .column-45 { border-style: solid; border-top-color: transparent !important; border-right-color: #ccc; border-bottom-color: transparent !important; border-left-color: transparent !important; border-width: 1px; float: left; margin: 0; padding: 0px 0px 0px 15px; width: 45%; height: inherit; }
.reveal-add-users .column-50 { border-style: solid; border-top-color: transparent !important; border-right-color: #ccc; border-bottom-color: transparent !important; border-left-color: transparent !important; border-width: 1px; float: left; margin: 0; padding: 0px 0px 0px 15px; width: 50%; height: inherit; }
.reveal-add-users .column-74 { border-style: solid; border-top-color: transparent !important; border-right-color: #ccc; border-bottom-color: transparent !important; border-left-color: transparent !important; border-width: 1px; float: left; margin: 0; padding: 0px 0px 0px 15px; width: 74%; height: inherit; }
.reveal-add-users .column-10.no-border,
.reveal-add-users .column-15.no-border,
.reveal-add-users .column-20.no-border,
.reveal-add-users .column-25.no-border,
.reveal-add-users .column-30.no-border,
.reveal-add-users .column-35.no-border,
.reveal-add-users .column-40.no-border,
.reveal-add-users .column-45.no-border,
.reveal-add-users .column-50.no-border { border: none; }

.reveal-add-users .forms { border: solid 1px #ccc; color: #4c4c4c; font: normal 14px ArialRegular; letter-spacing: .15px; margin: -1px auto 40px auto; overflow: hidden; padding: 30px 0px 24px 0px; width: 938px; /*width: 94%;*/ height: auto; }
.reveal-add-users input[type=text], .reveal-add-users input[type=email], #settings-container .form-container .form .fields input[type=password] { background: #fff; border: solid 1px #ccc; margin: 0px 0px 6px 0px; padding: 0px 6px 0px 6px; width: 100%; height: 34px;
	border-radius: 4px;
	-kthml-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.reveal-add-users select { 
	background: #fff; 
	border: solid 1px #ccc; 
	margin: 0px 0px 6px 0px; 
	padding: 0px 6px 0px 6px; 
	width: 100%; 
	height: 34px;
	border-radius: 4px;
	-kthml-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.reveal-add-users input[type=text]:focus, .reveal-add-users input[type=password]:focus { outline: none; }
.reveal-add-users input[type=button], .reveal-add-users input[type=submit] { background: #71a810; border: none; color: #fff; font: normal 14px ArialRegular; letter-spacing: .15px; line-height: 34px; margin: 24px 0px 0px 0px; outline: none; padding: 0px 20px 0px 20px; text-align: center; text-decoration: none; width: auto; height: 34px;
	border-radius: 4px;
	-kthml-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
}









/* == cross browser checkbox == */
input[type=checkbox].css-checkbox { border: 0; clip: rect(0 0 0 0); margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; height: 1px;  }
.web-two-style { background-image: url(../../_images/icons/content/form-checkboxes.png); }
.radio-button-style { background-image: url(../../_images/icons/content/form-radios.png); }
input[type=checkbox].css-checkbox.lrg + label.css-label.lrg { background-repeat: no-repeat; background-position: 0px 0px; cursor: pointer; display: inline-block; font: normal 14px ArialRegular; letter-spacing: .15px; line-height: 19px; padding-left: 27px; vertical-align: middle; height: 20px; }
input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{ background-position: 0 -20px; }

input[type=radio].css-radiobox { border: 0; clip: rect(0 0 0 0); margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; height: 1px;  }
.web-two-style { background-image: url(../../_images/icons/content/form-checkboxes.png); }
.radio-button-style { background-image: url(../../_images/icons/content/form-radios.png); }
input[type=radio].css-radiobox.lrg + label.css-label.lrg { background-repeat: no-repeat; background-position: 0px 0px; cursor: pointer; display: inline-block; font: normal 14px ArialRegular; letter-spacing: .15px; line-height: 19px; padding-left: 27px; vertical-align: middle; height: 20px; }
input[type=radio].css-radiobox.lrg:checked + label.css-label.lrg{ background-position: 0 -20px; }
img.large_ticket_image{background-color: #fff}

span.phoneSep{margin: 0 3px}
div.noChartData{background-image: url(../../_images/global/chart_na.png); width: 244px; height: 244px}